@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeon+Sung&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #ffd1dc;
  --second-bg-color: #ffc0cb;
  --text-color: #fff;
  --main-color: #ff69b4;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 1rem solid rgba(0, 0, 0, 0);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  background: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.about-content .btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.about-content .btn-group .btn {
  width: 20rem;
  text-align: center;
}

.services h2 {
  margin-bottom: 5rem;
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.portfolio {
  background: var(--second-bg-color);
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.3s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: var(--second-bg-color);
  color: var(--text-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: default;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.3s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }
  .about img {
    width: 70vw;
    margin-top: 4rem;
  }
  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }
  .about-img img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}

/*Login page */
.title {
  text-align: center;
  font-size: 4rem;
  margin-top: 4rem;
  font-family: "Yeon Sung", cursive;
  text-transform: uppercase;
}

.login-container {
  max-width: 70rem;
  margin: 8rem auto;
  padding: 4rem;
  background: var(--second-bg-color);
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem var(--bg-color);
}

.login-container header {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.username,
.password {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username label,
.password label {
  font-size: 1.6rem;
  font-weight: 500;
}

.username input,
.password input {
  width: 75%;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background: var(--bg-color);
  color: var(--text-color);
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.option .checkbox label,
.option .forgot-password a {
  font-size: 1.4rem;
  color: var(--text-color);
}

.option .forgot-password a:hover {
  color: var(--main-color);
}
.option .checkbox input {
  margin-right: 0.5rem;
}

.group-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.login-button,
.register-button {
  text-align: center;
  margin-top: 2rem;
}

.login-button button,
.register-button button {
  padding: 1rem 4rem;
  font-size: 1.6rem;
  background: var(--main-color);
  color: white;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.note-use {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.4rem;
}

/* ----- Container ----- */
#background-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* ----- Heart shape ----- */
.bubble {
  position: absolute;
  width: 100px;
  height: 90px;
  background: red;
  transform: rotate(-45deg);
  animation: animateBubble 25s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Tạo nửa trên trái tim */
.bubble::before,
.bubble::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 90px;
  background: red;
  border-radius: 50%;
}

.bubble::before {
  top: -50px;
  left: 0;
}

.bubble::after {
  top: 0;
  left: 50px;
}

/* ----- Animation: nổi lên ----- */
@keyframes animateBubble {
  0% {
    margin-top: 100vh; /* Bắt đầu từ dưới màn hình */
    opacity: 0.8; /* Hiển thị ngay lập tức */
  }
  5% {
    opacity: 1; /* Trở nên rõ hơn */
  }
  100% {
    margin-top: -200px; /* Bay lên trên */
    opacity: 0; /* Biến mất dần */
  }
}

/* ----- Animation: lắc ngang ----- */
@keyframes sideWays {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}

/* ----- Vị trí & tốc độ từng trái tim ----- */
.x1 {
  left: 10%;
  animation-duration: 20s, 4s;
  transform: scale(0.6) rotate(-45deg);
}
.x2 {
  left: 20%;
  animation-duration: 25s, 5s;
  transform: scale(0.4) rotate(-45deg);
}
.x3 {
  left: 30%;
  animation-duration: 22s, 3s;
  transform: scale(0.5) rotate(-45deg);
}
.x4 {
  left: 40%;
  animation-duration: 28s, 6s;
  transform: scale(0.7) rotate(-45deg);
}
.x5 {
  left: 50%;
  animation-duration: 18s, 4s;
  transform: scale(0.3) rotate(-45deg);
}
.x6 {
  left: 60%;
  animation-duration: 26s, 5s;
  transform: scale(0.5) rotate(-45deg);
}
.x7 {
  left: 70%;
  animation-duration: 24s, 4s;
  transform: scale(0.6) rotate(-45deg);
}
.x8 {
  left: 80%;
  animation-duration: 27s, 3s;
  transform: scale(0.4) rotate(-45deg);
}
.x9 {
  left: 90%;
  animation-duration: 23s, 6s;
  transform: scale(0.6) rotate(-45deg);
}
.x10 {
  left: 15%;
  animation-duration: 21s, 5s;
  transform: scale(0.5) rotate(-45deg);
}
